html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

article button {
  width: 100%;
  margin-bottom: 0.5rem;
}

article button:last-child {
  margin-bottom: 0;
}
