{{define "body"}}
<article>
  <table>
    <thead>
      <tr>
        <th colspan="2">
          Part One<br>
          Squats & LATS/BICEPS
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Reps</td>
        <td><b>15</b></td>
      </tr>
      <tr>
        <td>Rest</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>light</td>
      </tr>
      <tr>
        <td>Intensity</td>
        <td>easy</td>
      </tr>
    </tbody>
  </table>
  <div role="group">
    <button><<</button>
    <button>>></button>
  </div>
</article>
<style>
  article table tbody td:nth-child(2) {
    text-align: right;
  }
  article table thead tr th {
    text-align: center;
  }
</style>
{{end}}
